.meals{
    transition: 300ms;
    cursor: pointer;
    border-radius: 10px;
    background: rgb(236, 233, 233);
    color: rgb(2, 66, 45);
}
.meals h4, h2{
    color: rgb(47, 150, 0);
}
#meal-description:hover{
    background-color: black;
}
.meals:hover{
    box-shadow: 0px  0px 10px 3px black;
    cursor: pointer;
    border-radius: 10px;
    transform: scale(1.05);
}
.categories li{
    display: inline-block;
    width: 100%;
    margin: 5px;
    text-align: center;
}
.categories li p{
    font-weight: bold;
    line-height: 50px;
    color: white;
    cursor: pointer;
    transition: 300ms;
    background-color: rgb(11, 131, 27);
}

.categories li:active{
    background-color: blue;
}

.categories p:hover{
    background: rgb(146, 146, 221);
}