.header{
    margin: 20px;
}
.header button{
    margin-left: 5px;
    border: none;
    padding: 2px 20px;
    outline: none;
    background-color: rgb(195, 195, 240);
}
.header img{
    
}
.header button:nth-child(2){
    background: hotpink;
    border-radius: 10px;
}